audio,.alert{display: none;}
#btn{
    position: absolute;
    left: 34%;
    top: 97px;
    z-index: 5;
    width: 500px;
}

#Box_Taquin{

    width: 500px;
    height: 500px;
    margin:200px auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 10px;


}
#Box_Taquin button{
    display: grid;
    align-content: center;
background-color:    rgb(21,131,102);
border-radius: 10px;
cursor: pointer;
color:white ;
font-size: 50px;
text-align: center;
}
.TimeOut{
    display: flex;
    position: absolute;
    left: 46%;
    top: 150px;
    font-size: larger;
    font-weight: bold;

}
#message{
    font-size: 50px;
    color: white;
    text-align: center;
}
#btn1{
    flex-grow: 1;
    border-radius: 10px;
    font-size: 50px;
}
.message
{display: flex;
    flex-direction: column;
    position: absolute;
    width: 508px;
    height: 200px;
    background-color: goldenrod;
    top: 15px;
    left: 34%;
    z-index: 5;
}
.backBlak{
    position: absolute;
    width: 98vw;
    height: 125vh;
    z-index: 3;
    top: 0;
    background: black;
    opacity: 0.6;

}

#b0:hover,
#b1:hover,
#b2:hover,
#b3:hover ,
#b4:hover,
#b5:hover,
#b6:hover,
#b7:hover,
#b8:hover
{
    
  background-color:  rgb(20 98 78);
   ;
}
#levels{
    width: 500px;
    text-align: center;
    background: goldenrod;
    position: absolute;
    left: 34%;
    top: 118px;
    z-index: 5;

}